@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    --white-color : #fff;
    --ghost-white: #f8f9fd;
    --button-bg: #e99c2f;
    --text-color: #626a6a;
    --baltic-sea: #33383c;
    --trans: all 0.5s ease-in-out;
    --header-height: 128px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
body{
    line-height: 1.5;
    font-weight: 400;
}

/* resets and resuable stylings */
img{
    display: block;
    width: 100%;
}
button{
    cursor: pointer;
    outline: 0;
}
a{
    text-decoration: none;
    color: #000;
}
.text{
    font-size: 1.1rem;
    margin: 1.2rem 0;
    line-height: 1.7;
    opacity: 0.7;
}
/* end of resets and reusable stylings  */

/* header */
header{
    background-color: var(--ghost-white);

    height: var(--header-height);
}

.nav-bar {
    height: 100%;
    display: flex;
    padding: 44px 80px;
    justify-content: space-between;
    width: 100%;
}

.nav-brand {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 500;
}

.nav-toggle {
    background-color: var(--button-bg);
    border: none;
    color: var(--white-color);
    width: 40px;
    height: 40px;
    border-radius:50%;
}

.nav-toggle > i {
    font-size: 24px;
}

.cart-btn {
    border: none;
    color: var(--text-color);
    font-size: 24px;
    background: none;
    position: relative;
}

.cart-count-info {
    top: -12px;
    right: -8px;
    position: absolute;
    background: var(--button-bg);
    color: var(--white-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.navbar-collapse {
    margin-top: 30px;
    display: none;
}


.show{
    display: block;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    z-index: 1;
}

.nav-list > li {
    color: var(--text-color);
    font-size: 20px;
    padding: 10px;
}

.nav-list > li > a,
.cart-btn {
    transition: all 0.3s ease
}

.nav-list > li:hover a {
    cursor: pointer;
    color: palevioletred;
    
}

.nav-list > li ~ li  {
    margin-top: 10px;
    z-index: 1;
}

.cart-container {
    overflow-y: scroll;
    position: absolute;
    top: 20%;
    right: 11.5%;
    background-color: var(--white-color);
    width: 480px;
    height: 500px;
    box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
    display: none;
    z-index: 10;
}

.cart-container--show {
    display: block;
}



.cart-item {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    
    border-bottom: 1px solid #ccc;
}

.cart-item-name {
    text-transform: capitalize
}

.cart-item-info{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.cart-container img {
    width: 80px;
    height: 80px;
}

.cart-item-del-btn {
    background: var(--button-bg);
    color: var(--white-color);
    border: none;
    width: 30px;
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
}

.cart-total {
    padding: 16px;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    background:var(--button-bg);
    color: var(--white-color);
}

.cart-total > h3 {
    font-size: 20px;
    margin-right: 4px;
}

.cart-total > span {
    font-size: 18px;
}

.cart-btn:hover {
    color: palevioletred;
}

/* banner  */

.banner {
    padding-top: var(--header-height);
    height: 80vh;
}

.banner-container {
    display: flex;
}

.banner-text {
    width: 52%;
}

.banner-title {
    font-size: 56px;
    text-transform: capitalize;
}

.banner-desc {
    font-weight: 500;
    font-size: 18px;
    opacity: 0.5;
    margin: 20px 0 40px 0;
}

.btn {
    text-transform: uppercase;
    font-weight: 600;
    background: var(--button-bg);
    border: 1px solid var(--button-bg);
    color: var(--white-color);
    letter-spacing:2px;
    width: 180px;
    padding: 14px ;
    transition: all 0.5s ease 0s;
    margin-top: 10px;

}

.btn:hover {
    background: var(--white-color);
    color: var(--button-bg);
}

.white-btn {
    background-color: transparent;
    color: var(--button-bg);
}

.white-btn:hover {
    background: var(--button-bg);
    color: var(--white-color);
}

.banner-img {
    width: 48%;
}

/* featured products */

.featured{
    height: 140vh;
    background-color: #f1f5f8;
    padding: 60px;
}

.title {
   
    text-align: center;
    margin-bottom: 50px;
}

.featured-title {
    font-size: 40px;
    color: #102A42;
    margin-bottom: 5px;
}

.title .underline {
    width: 8rem;
    height: 0.25rem;
    background: #49a6e9;
    background: #ab7a5f;
    margin-left: auto;
    margin-right: auto;
}

.product-container {
    margin-bottom: 40px;
}

.product-img {
    position: relative;
    margin-bottom: 20px;
}

.product-img img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 225px;
    border-radius:4px;
    transition: all  0.3s linear;
}

.product-desc {
    display: flex;
    justify-content: space-between;
}

.product-desc > h5 {
    font-size: 16px;
    color: #102A42;
    font-weight: 500;
    text-transform: capitalize;
}

.product-desc > span {
    color: #ab7a5f;
    letter-spacing: 2px;
}

/* footer */

.footer-banner {
    
    position: relative;
}

.footer-text {
    position: absolute;
    top: 20%;
}

.img-container {
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.21);
    transition: all 0.3s linear;
}

.footer-img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 400px;
    background-color: #333;
}

.footer-title {
    color: var(--white-color);
    font-size: 40px;
    text-transform: capitalize;
}

.footer-desc {
    width: 50%;
    font-size: 18px;
    margin: 20px 0 40px 0;
    color: #333;
}

/* social */

.footer-socials {
    background-color: #33383c;
    height: 140px;
}

.social-list {
    text-align: center;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 60px;
}

.social-list > li ~ li {
    margin-left: 25px;
}

.social-list > li:hover i {
    opacity: 1;
    cursor: pointer;
}


.social-list > li > a > i {
    font-size: 24px;
    color: var(--white-color);
    opacity: 0.5;
}    
button.btn.add-to-cart.center {
    left: 105px
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 99;
}

.modal-clicked {
    display: block;
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 470px;
    background-color: #fff;
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    padding: 16px;
    border-radius: 4px;

}

.login-form > h3 {
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: var(--text-color);
    margin-bottom: 30px;
    text-align: center;
  
}

.field {
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
}
.field > span {
    position: absolute;
    left: 7px;
    width: 24px;
    height: 24px;
    color: #222;
    line-height: 48px;
}
.field input {
    height: 100%;
    width: 100%;
    border: 1px solid var(--text-color);
    outline: none;
    color: #222;
    font-size: 16px;
    padding: 24px;
    border-radius: 4px;
}

.space {
    margin-top: 16px;
}

.forgot {
    color: var(--text-color);
    font-size: 20px;
    margin: 12px 0;
    display: inline-block;
}

.btn-primary {
    margin: 0;
    background-color: #3498db;
    width: 100%;
    letter-spacing: 2px;
}

.login {
    color: var(--text-color);
    text-align: center;
    font-size: 18px;
    margin: 16px 0;
}

.link {
    display: flex;
    cursor: pointer;
    color: #000;
    margin-bottom: 20px;
}

.facebook, .instagram {
    width: 80%;
    height: 42px;
    line-height: 42px;
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

.facebook {
    background: #4267B2;
    border: 1px solid #3e61a8;
}

.instagram {
    background: #E1306C;
    border: 1px solid #df2060;
}

.facebook:hover, .instagram:hover {
    opacity: 0.9;
}

.sign-up {
    text-align: center;
    margin-bottom: 10px;
}

.sign-up a {
    color: blue;
}

.show-btn {
    position: absolute;
    right: 13px;
    top: 12px;
    cursor: pointer;
}

.password:valid ~ .show {
    display: block;
}

.form-close-btn{
    position: absolute;
    top: 21px;
    right: 17px;
    font-size: 26px;
    cursor: pointer;
}

.empty-cart {
    padding: 16px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.empty-btn{
    margin-left: 16px;
    padding: 12px 50px;
}