/* mobile & tablet  */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
   
}   

/* tablet */

@media (min-width: 740px) and (max-width: 1023px) {
.hide-on-tablet {
    display: none;
}   
.banner {
    height: 40vh;
}


}

/* mobile */
@media (max-width:739px) {
    body {
        margin: -8px;
        padding-left: 16px;
        padding-right: 11px;
    }
    
   .nav-bar {
       padding: 44px 16px;
   }
   .nav-menu {
    padding: 0 25px 8px 0;
   }

   .cart-container {
       right: 0;
   }
   .banner-img {
    width: 100%;
    }
    .banner-container {
        display: block;
    }
    .banner-text {
        
        width: 100%;
    }

    .banner-title {
        font-size: 20px;
        text-align: center;
    }

    .featured {
      
        padding: 0px;
    }
}